/* this is a global css class, not inclined to person component */
.Person {
    width:60%;
    margin:auto;
    border: 1px solid green;
    box-shadow: 0px 2px 5px #ccc;
    padding: 16px;
    text-align: center;
}

